<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>User Settings</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Temperature Unit</string>
			<key>Key</key>
			<string>userUnit</string>
			<key>DefaultValue</key>
			<integer>-1</integer>
			<key>Titles</key>
			<array>
				<string>ºC</string>
				<string>ºF</string>
				<string>ºK</string>
			</array>
			<key>Values</key>
			<array>
				<integer>1</integer>
				<integer>0</integer>
				<string>2</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Button Skin</string>
			<key>Titles</key>
			<array>
				<string>Words</string>
				<string>Icons</string>
				<string>Faces</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Key</key>
			<string>userSkin</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
	<key>Title</key>
	<string></string>
</dict>
</plist>
