.center { 
	text-align: center; 
	margin-left: auto; 
	margin-right: auto; 
	margin-bottom: auto; 
	margin-top: auto; 
}
h1.title {
	margin-top: 10px;
	margin-bottom: 25px;
}
h2.title {
	margin-bottom: 10px;
}
div.toggle-lights {
	margin-bottom: 10px;
}
u {
	text-decoration: none;
	border-bottom: 5px solid black;
}
